asciimatics==1.15.0
asgiref==3.9.1
black==25.1.0
click==8.1.8
colorama==0.4.6
coverage==7.8.0
Django==5.2.5
django-debug-toolbar==6.0.0
flake8==5.0.4
iniconfig==2.1.0
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.7
pluggy==1.5.0
prettytable==3.16.0
pycodestyle==2.9.1
pyfiglet==1.0.3
pyflakes==2.5.0
pytest==8.3.5
pytz==2025.2
pywin32==311
sqlparse==0.5.3
tzdata==2025.2
wcwidth==0.2.13
